html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}


/* Header */
.header {
  height: 800px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:white;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg") no-repeat center center;
  background-size:cover;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
	font-size: 80px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  }

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
  text-transform:uppercase;
  font-weight:bold;
}

.btn:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}

.btn {
  background: black;
	color:white;
  text-decoration: none;
  padding:7px 35px;
  width:80px;
  height:25px;
	text-align: center;
}

/* Nav */
 .nav {
  background: #000;
  height: 80px;
	width: 100%;
}

.nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	height: 80px;
}

.nav ul li {
  color: #fff;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	list-style: none;
	padding: 0 10px;
	transition: background .5s; }

.btn:hover, .nav ul li:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}

/* Main */
.main .container {
	margin: 80px auto;
}

.main img {
	float: left;
	margin: 50px 80px 50px 0;
}

/* Jumbotron */
.jumbotron {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) center center;
	background-size: cover;
	height: 600px;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h2 {
	color: #fff;
	text-align: right;
}

.jumbotron p {
	color: #fff;
	text-align: right;
}

.jumbotron .btn {
	margin: 10px;
	float: right;

}

/* Footer */
.footer {
  background:#000;
  height:80px;
position: relative;
bottom: 20px;}

footer p {
  color: white;
	font-size: 14px;
	height: 80px;
	line-height: 80px;
  margin: 0;}

/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;}
  }
